<!DOCTYPE html>
<html>
<head>
    <title>Movie Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" data-th-href="@{/css/gtvg.css}"/>
</head>
<body>
<p align="center">Welcome</p>
<p align="center"> Select below options to continue</p>
<div align="center">
    <a href="/moviesearch">Search for a movie</a><br/>
    <a href="/ratemovie">Give rating to a movie</a><br/>
    <a href="/topratedmovies">List top rated movies</a><br/>
    <a href="/logout">Logout</a><br/>
</div>
</body>
</html>